<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Prediction</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
           
            <nav>
                <ul class="nav__links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
            <a class="cta" href="/predict">Predict</a>
            
        </header>


        <div class="idp-p">
        <h3> Introduction - Liver Patient Analysis</h3>

        <p>
            Liver diseases averts the normal function of the liver. Mainly due to the large amount of alcohol consumption liver disease arises. Early prediction of liver disease using classification
            of liver disease using classification algorithms is an efficacious task that can help the doctors to diagnose the disease within a short duration of time. Discovering the existence of liver disease at an early stage is a complex task for doctors. The main objective of this paper is to Analysis the parameters of various classification algorithms and compare their predictive accuracies so as to find out
            the best classifier for determining the liver disease. This paper focuses on the related works of various authors on Liver disease such that algorithms were implemented using Weka tool that is a machine leaning software written in Java. Various attributes that are essential in the prediction of liver disease were examined and the dataset of liver patients were also evaluated. 
            This paper compares various classification algorithms such as Random Forest, Logistic Regression and Separation Algorithm with an aim to identity the best technique Based on this study, Random Forest with the highest accuracy outperformed the other algorithms and can be further utilized in the prediction of liver disease recommended.

      </p>
        </div>
        <div class="idp-c">
        <a class="cta" href="/predict">Predict</a>
       </div>
    </body>
</html>