<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome to Liver Patient Analysis</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
           
            <nav>
                <ul class="nav__links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
            <a class="cta" href="/predict">Predict</a>
            
        </header>
		
		<div class="idp-text">
		<h1> A Review of Liver Patient Analysis Methods Using Machine Learning</h1>
		</div>
		<div class="idp-b">
		<a class="cta" href="/predict">Predict</a>
       </div>
    </body>
</html>